<%- include ('modules/head.ejs') %>
<div class="d-flex align-items-center py-4">
  <main class="form-login m-auto" style="width: 25%">
    <form id="registerForm" onsubmit="cadastro()">
      <h3 class="titulo">Crie sua conta</h3>
      <div id="alert"></div>
      
      <label for="inputPassword5" class="form-label">E-mail</label>
      <input type="email" id="email" class="form-control mb-3"  required/>
      <label for="inputPassword5" class="form-label">Nome</label>
      <input type="text" id="name" class="form-control mb-3"  required/>
      
      <label for="inputPassword5" class="form-label">Senha</label>
      <input type="password" id="password" class="form-control mb-3" required />

      <button class="btn btn-primario w-100 py-2" type="submit">
        Cadastrar
      </button>
      <div class="form-text">
        <p style="font-size: 15px;">Já tem uma conta? <a href="/login">Entrar</a></p>
      </div>
    </form>
  </main>
</div>
<script src="/js/oauth/register.js"></script>

<%- include ('modules/footer.ejs') %>
